.legal-header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #e2e2e2;
  padding: 30px;
  margin-top: 60px;
  width: 100%;
}

.legal-header h1 {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

main {
  margin-top: 200px;
  width: initial;
  height: initial;
}


section {
  display: flex;
  gap: 30px;
  position: relative;
  border-bottom: 1px solid grey;
  max-width: 900px;
  margin: 0 auto;
  color: white;
}

.section-label {
  position: sticky;
  z-index: -2;
  top: 200px;
  width: 100%;
  background-color: #2b2d3b;
  height: max-content;
  padding: 10px 16px;
}

.document-content {
  padding-top: 2px;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}

.document-content p {
  line-height: 28px;
}

.content-two {
  padding-top: 50px;
}

.content-three {
  padding-top: 50px;
}

.document-content ol {
  margin: 0;
  padding-left: 40px;
}

.document-content li {
  line-height: 28px;
}

footer {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #e2e2e2;
  padding: 0px 30px;
  min-height: 70px;
}

.footer-content {
  width: 100%;
  max-width: 900px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.agree-btn {
  padding: 10px 16px;
  font-weight: bold;
  background-color: blueviolet;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.agree-btn:disabled {
  background-color: grey;
  color: black;
  cursor: not-allowed;
}
